*.o
*.u
*.s
*.a
*.elf
*.map
*.pyc
example_cifar10_caffe/MIDE_EM/EM*D/*
example_cifar10_caffe/MIDE_EM/.settings/*
example_har_smartphone/MIDE_EM/EM*D/*
example_har_smartphone/MIDE_EM/.settings/*
*.log
*mdb_log.txt
*.stdout
*.stderr
*.db
.project
.vscode
obj/*.d
